<!DOCTYPE html>
<html>
<head>
  <title>Добавить новый пост</title>
  <link rel="stylesheet" type="text/css" href="/public/styles.css">
</head>
<body>
  <h1>Добавить новый пост</h1>
  <form method="post" action="/add-blog">
    <label for="title">Заголовок:</label>
    <input type="text" id="title" name="title" required>
    <br>
    <label for="content">Содержание:</label>
    <textarea id="content" name="content" required></textarea>
    <br>
    <button type="submit">Добавить пост</button>
  </form>
  <a href="/">Назад к списку</a>
</body>
</html>
