body {
  font-family: Arial, sans-serif;
  background-color: #b8b5b5;
  color: #333;
  padding: 20px;
  margin: 0;
}

h1 {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000000;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
}

button:hover {
  background-color: #0056b3;
}
